main {
  display: flex;
  justify-content: center;
}

.ant-card, .ant-card-actions {
  background: transparent;
}

.connections {
  font-size: 3em;
  margin: 0 10px;
  transition: all .1s ease-in-out;
}


.connections:hover {
  transform: scale(1.3);
}

.connections svg {
  height: 1em;
  width: 1em;
}

.ant-card-meta-title {
  font-size: 2em;
  margin: 0 !important;
}

.ant-card-meta-description {
  font-size: 1.1em;
}

.ant-card-head {
  border-bottom: 0;
}

.ant-card-cover img {
  width: auto !important;
  margin: auto !important;
}

.ant-card-cover picture {
  border-radius: 8%;
}

.ant-card-body {
  padding: 0;
  padding-top: 15px;
}

#expand-icon {
  color: rgba(0, 0, 0, 0.45);
}

/* Gradient */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(ellipse at center, #ffc118 0%, #f8e4ae 25%, #ffffff 100%)
}
/* body {
  background: linear-gradient(-45deg, #f09a18, #f50958, #8017e2);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
} */

@media only screen and (max-width: 400px) {
  .social-link {
    font-size: 2em;
    margin: 5px 10px;
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
